.watch{
    background-color: #000;
    font-size: 32px;
    width: 440px;
    height: 488px;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translate(-50%,-50%); 针对自身*/
    margin-left: -220px;
    margin-top: -244px; /*针对当前父级的大小 */
    /* margin-left: 50%; margin-top: 50%; is wrong */
}
.screen{
    width: 59.2%;
    height: 74%;
    /* 寻找最近一个不为static的作为参照物 */
    position: absolute;
    left: 18%;
    top: 13%;
    /* background-color: red; */
}
.screen .dials{
    width: 4em;
    height: 4em;
    border-radius: 50%;
    position: absolute;
    top: 1.75em;
    left: 0;
    /* background-color: aqua; */
}
/* 第一个环 dial 1 */
.dial.move{
    position: absolute;
    width: 8em;
    height: 8em;
}
/* 伪元素 */
.dial.move::before{
    /* 相当于div，减少标签数 */
    content:'';
    width: 1.5em;
    height: 1.5em;
    position: absolute;
    top: -0.29em;
    left:calc(50%-0.75em);
}
.dial.move::after{
    content:'';
}
.dial-container{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4em;
    /* overflow: hidden; */
}
.wedeg{
    height: 8em;
    width: 4em;
    position: absolute;
}
.container1{
    left: 4em;
}
.container2{
    left: 0;
}
.container1.wedeg{
    background-color: #fc1d20;
    /* left: -4em; */
    border-radius: 8em 0 0 8em;
    transform-origin: 100% 50%;
}